@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #121212;
$secondary-color: #E4C1AE;
$shadow-color-hover: #b5b5b5;
$text-color-hover: rgb(186, 111, 195);
$white: #ffffff;
$modal-background: #12121285;
$reset-alert-color: firebrick;

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Roboto' ,sans-serif;
  font-style: normal;
}

#reset{
  cursor: pointer;
  
  &:hover{
    background-color: transparent;
    box-shadow: 0 0 10px rgb(219, 243, 255);
    &::after{
      content: ' reset counter';
      color: rgb(139, 216, 255);
    }
  }
}

.container{
  background-color: $white;
  width: 1440px;
  padding-top: 96px;
  display: flex;
  justify-content: center;

  .module{
    display: flex;
    justify-content: center;
    gap: 96px;
    flex-wrap: wrap;
    .main{
      &__image {
        width: 505px;
        height: 330px;
        background-image: url('../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .aside{
      width: 380px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &__header--title{
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: $primary-color;
      }
      &__content{
        margin: 24px 0 32px 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: $primary-color;
      }
      &__button--open-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 128px;
        height: 48px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: $white;
        background: $secondary-color;
        border-radius: 24px 24px;
        border:none;
        &:hover{
          cursor: pointer;
          box-shadow: 0px 0px 8px $shadow-color-hover;
          color: $text-color-hover;
        }
      }
    }

  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $modal-background;
    opacity: 0;
    visibility: hidden;
    transition: all 100ms ease-in;
    
    &.is-open{
      visibility: visible;
      opacity:  1;
    }

    &__dialog {
      position: relative ;
      width: 920px;
      height: 210px;  
      background-color: $white;
      padding: 16px 16px 16px 96px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
    }

    &__content{
      width: 380px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;

      &--reset{
        color: $reset-alert-color;
      }
    }

    &--close-modal{
      position: absolute;
      top: 46px;
      right: 46px;
      border: none;
      background-image: url("../images/cross.svg" );
      background-color: $white;
      width: 24px;
      height: 24px;
      &:hover{
        background-image: url("../images/cross_red.svg" );
      }
    }
  }
  .modal__content--reset.hide{
      opacity: 0;
      visibility: hidden;
  }
}

@media screen and (max-width: 1234px) {
  .container {
    .module {
      gap: 64px;
      .main{
        &__image {
          width: 80vw;
          height: calc(80vw / 1.5 );
          background-image: url('../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1234.jpg');
        }
      }
      .aside{
        width: 80vw;
      }
    }
    .modal{
      &__dialog {
        width: 840px;
        padding-left: 96px;
      }
      &__header{
        font-size: 42px;
      }
    }
  }

}

@media screen and (max-width: 1002px) {
  .container {
    padding-top: 64px;
    .module {
      gap: 64px;
      .main{
        &__image {
          width: 80vw;
          height: calc(80vw / 1.5 );
          background-image: url('../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1002.jpg');
        }
      }
      .aside{
        width: 80vw;
        &__header--title{
          font-size: 32px;
        }
      }
      
    }
    .modal{
      &__dialog {
        width: 740px;
        padding-left: 64px;
      }
      &__header{
        font-size: 32px;
      }
    }
  }

}

@media screen and (max-width: 784px) {
  .container {
    padding-top: 48px;
    .module {
      gap: 32px;
      .main{
        &__image {
          width: 85vw;
          height: calc(85vw / 1.5 );
          background-image: url('../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg');
        }
      }
      .aside{
        width: 85vw;
        &__header--title{
          font-size: 28px;
        }
      }
    }
    .modal{
      &__dialog {
        width: 400px;
        padding-left: 32px;
      }
      &__header{
        font-size: 32px;
      }
      &__content{
        width: 340px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  
  .container {
    padding-top: 16px;
    
    .module {
      gap: 24px;
      .main{
        &__image {
          width: calc(100vw - 16px);
          height: calc((100vw - 16px) / 1.5 );
          background-image: url('../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg');
        }
      }
      .aside{
        width: calc(100vw - 16px);
        &__header--title{
          font-size: 24px;
        }
      }
      
    }
    .modal{
      &__dialog {
        width: 340px;
        padding-left: 16px;
      }
      &__header{
        font-size: 32px;
      }
      &__content{
        width: 340px;
      }
    }
    
  }

}