$primary-color: #121212;
$secondary-color: #E4C1AE;
$secondary-color-hover: #8a5c44;
$shadow-color-hover: #b5b5b5;
$text-color-hover: rgb(0, 140, 255);
$white: #ffffff;
$modal-background: #12121285;
$reset-alert-color: rgb(28, 34, 152);
$primary-font: 'Roboto', sans-serif;
